body {
    margin: 0;
    padding: 0;
    background-image: url(

    https://png.pngtree.com/thumb_back/fw800/background/20230707/pngtree-seamless-looping-traffic-stunning-3d-animation-of-high-speed-flying-lines-image_3796479.jpg
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#userList > div {
    width: 48%;
    height: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc0c0;
    background-image: url("https://wall-style.com.ua/tmp/cache/images/28/b5d/28b5dfc93e7d1935d50c56f6be4600a6.jpg");
    background-size: cover;
    border-radius: 20px;
}



button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #111111;
    cursor: pointer;
    border-radius: 30px;


}

button:hover {
    background-color: #0056b3;
    border: #537ea4;
}
