
#userDetails {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #cebdbd;
    background-color: #e8d4d4;
}


button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;

}

button:hover {
    background-color: #0056b3;
}
